{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>flipmybucks 🇨🇷</title>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Lato:wght@300;400;700&family=Nunito:wght@300;400;700&family=Quicksand:wght@300;500;700&family=Fredoka+One&display=swap" rel="stylesheet">
</head>
<body>
  <div class="top-bar">
    ⚠️ Real time exchange rate. Stay informed! 📈
</div>

<header>
  <nav>
    <a href="{% url 'economics' %}">Exchange Rate</a>
    <a href="{% url 'exchange-rate' %}">Commercial Banks</a>
    <a href="{% url 'loan-Calculations' %}">Others</a>
  </nav>
  <div class="logo-container">
    <img src="{% static 'index/images/flip_my_bucks_logo.png' %}" alt="Logo"> <!-- Replace with your image path -->
  </div>
</header>

<section class="info-section" id="info-section">
  <h2>About&#9749;</h2>
  <p>flipmybucks is designed to provide updated information on exchange rates and economic indicators in beautiful Costa Rica.</p>
  <p>The goal is to offer accurate and accessible data on the current exchange rate, helping both tourists and Costa Rican citizens.</p>
</section>

<section id="apps-section">
  <div class="container">
    <a href="{% url "economics" %}">
      <h2>Exchange Rate</h2>
      <img class="app-image" src="{% static "index/images/banking.png" %}" alt="Economic Indicators"/>
      <p>Tracking the exchange rate from the Central Bank of Costa Rica.</p>
    </a>
  </div>
  <div class="container">
    <a href="{% url "exchange-rate" %}">
      <h2>Exchange Rate in Commercial Banks</h2>
      <img class="app-image" src="{% static "index/images/exchange_rate.png" %}" alt="Exchange Rate (Commercial Banks)"/>
      <p>Dollar exchange rate in financial entities of Costa Rica.</p>
    </a>
  </div>
  <div class="container">
    <a href="{% url "loan-Calculations" %}">
      <h2>Loan Calculations</h2>
      <img class="app-image" src="{% static "index/images/loan_calculator.jpg" %}" alt="Loan Calculator"/>
      <p>Calculate your monthly loan payment based on the amount, annual interest rate, and term in months.</p>
    </a>
  </div>
</section>

<section class="info-section" id="contact-section">
  <h3>Enjoying flipmybucks? </h3>
  <p>Support and help keep this service free! If you'd like to contribute, you can donate via PayPal or Buy Me a Coffee. Thank you! 🙏</p>
  <form action="https://www.paypal.com/donate" method="post" target="_top">
    {% csrf_token %}
    <input type="hidden" name="hosted_button_id" value="DDHHZEY2U6YHN" />
    <input class="paypal-button" type="image" src="https://pics.paypal.com/00/s/MGE4OGE1ODEtNzAyOS00YTAxLTlhMmQtNWI5NmVhZDZiNDRj/file.PNG" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_CR/i/scr/pixel.gif" width="1" height="1" />
  </form>
  <a href="https://www.buymeacoffee.com/franznica" target="_blank" class="buymeacoffee-icon">
    <img src="{% static 'index/images/buymeacoffee.png' %}" alt="Buy Me a Coffee" />
</a>
</section>
<footer>
  <p>&copy; 2025 All Rights Reserved</p>
</footer>
</body>
</html>
